/*  Footer */

#footer {
  text-align: center;
}

.footer__creditos {
  padding: 10px;
  margin: 0 auto;
  max-width: 400px ;
}


/* Responsividade */
@media (max-width: 1024px){
  .footer__creditos {
    min-width: 290px;
  }
}
 