/*  Dia 07 - Sugestões de Conexões */
#sugestoes span {
  font-size: 12px;
}

.sugestoes__container {
  padding: 16px;
  background-color: var(--card-background);
  border-radius: 16px;
  width: 320px;
}

.container__infos button {
  border-radius: 18px;
  padding: 7px 16px;
  border: 1px solid var(--color-texto-primario);
  background-color: transparent;
  color: var(--color-texto-primario);
  font-size: 14px;
  font-weight: bold;
  margin-top: 7px;
  cursor: pointer;
  display: block;
}

.container__infos button:hover {
  background-color: var(--color-texto-primario);
  color: var(--color-input);
  border:2px solid var(--color-input);
}