:root {
  --body-background: #000000;
  --card-background: #1b2226;
  --color--azul: #70b5f9;
  --color-azul-secundario: #0a66c2;
  --color-texto-primario: rgb(255, 255, 255, 0.9);
  --color-texto-secundario: rgba(255, 255, 255, 0.6);
  --color-texto-escuro: rgba(0, 0, 0, 0.75);
  --color-input: #38434f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: var(--body-background);
}

h2 {
  font-size: 20px;
  color: var(--color-texto-primario);
  margin-bottom: 8px;
}

h3 {
  font-size: 16px;
  color: var(--color-texto-primario);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: var(--color-texto-primario);
}

p {
  font-size: 14px;
  color: var(--color-texto-primario);
  text-align: justify;
}

span {
  font-size: 14px;
  color: var(--color-texto-secundario);
}

.span {
  font-weight: 700;
  font-size: 14px;
  color: var(--color--azul);
  margin-bottom: 4px;
}

.span--separador::before {
  content: "\00B7";
  color: var(--color-texto-secundario);
  text-decoration: none;
}

.section__container {
  padding: 16px 24px;
  background-color: var(--card-background);
  border-radius: 16px;
  width: 780px;
}


.container__engajamento {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
}

.container__reacoes {
  display: flex;
  align-items: center;
  gap: 4px;
}

.container__engajamento span {
  font-size: 12px;
  color: var(--color-texto-secundario);
}

span:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Dia 01 - Seção de informações do perfil  */

.container {
  padding-left: 154px;
  padding-top: 24px;
}

.grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
   grid-column-gap: 24px;
  grid-row-gap: 6px;
  grid-template-areas:
    "perfil sugestoes"
    "destaques sugestoes__conexoes"
    "atividades atividades"
    "sobre sobre"
    "experiencias experiencias"
    "formacao formacao"
    "idiomas idiomas";
}

#perfil {
  background-color: var(--card-background);
  height: 468px;
  width: 780px;
  border-radius: 16px;
  grid-area: perfil;
}

.perfil__imgs {
  background-image: url("../imgs/profile-background.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50%;
}

.perfil__imgs img {
  position: relative;
  left: 24px;
  top: 118px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: var(--card-background) solid 1px;
}

.perfil__infos {
  height: 50%;
  padding: 56px 87px 24px 24px;
  color: var(--color-texto-primario);
  display: flex;
  justify-content: space-between;
  line-height: 20px;
}

.perfil__dados h1 {
  font-weight: 600;
  margin-bottom: 4px;
  line-height: 30px;
}

.perfil__dados p {
  color: var(--color-texto-secundario);
  font-size: 14px;
  margin-bottom: 4px;
  display: inline-block;
}

.perfil__btns button {
  width: 128px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 16px;
  border: 1px solid var(--color--azul);
  padding: 6px 29px;
  cursor: pointer;
  margin-top: 6px;
}

.btn__msg {
  background-color: var(--color--azul);
  color: var(--color-texto-escuro);
}

.btn__msg:hover {
  background-color: var(--color-azul-secundario);
  border: 2px solid var(--color-azul-secundario);
  color: var(--color-texto-primario);
}

.btn__mais {
  color: var(--color--azul);
  background-color: transparent;
}

.btn__mais:hover {
  border: 2px solid var(--color-azul-secundario);
  color: var(--color-texto-primario);
}

.perfil__institutos div {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.perfil__institutos img {
  width: 32px;
  height: 32px;
}

.perfil__institutos h4:hover {
  text-decoration: underline;
}

/* Dia 02 - Navbar */

#cabecalho {
  background-color: var(--card-background);
  padding: 0 24px;
}

.cabecalho__nav {
  height: 52px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  width: 1128px;
  margin: 0 125px;
}

.cabecalho__nav img {
  margin-right: 5px;
}

.cabecalho__form {
  width: 447px;
  height: 34px;
}

.cabecalho__form i {
  position: absolute;
  text-align: center;
  height: 24px;
  text-align: left;
  margin: 5px;
}

.cabecalho__form input {
  background-color: var(--color-input);
  padding: 0 10px 0 35px;
  width: 280px;
  height: 34px;
  border: none;
  border-radius: 4px;
  transition: 0.5s;
  font-size: 14px;
}

.cabecalho__input::placeholder {
  color: var(--color-texto-primario);
}

.cabecalho__input:focus {
  width: 384px;
  font-size: 16px;
}

.material-symbols-outlined {
  color: var(--color-texto-primario);
}

.cabecalho__lista {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cabecalho__lista li:last-child {
  border-left: solid 1px var(--color-texto-primario);
}

.cabecalho__lista a {
  width: 80px;
  height: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: baseline;
  justify-content: center;
}

.cabecalho__lista span {
  font-size: 12px;
  color: var(--color-texto-primario);
}

/* Dia 03 -  Publicações em Destaque */

#destaques {
  height: 312px;
  grid-area: destaques;
}

.destaque__container {
  border: var(--color-texto-secundario) 1px solid;
  border-radius: 8px;
  padding: 12px 0 4px 0;
  width: 238px;
}

.destaque__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 17px;
}

.destaque__publi {
  padding: 0 14px;
}

.destaque__container span {
  font-size: 12px;
  color: var(--color-texto-secundario);
}

.destaque__container p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.destaque__img {
  height: 152px;
  width: 100%;
  object-fit: cover;
  margin-top: 0.4rem;
}

/* Dia 04 - Seções Atividades */
#atividades {
  height: 371px;
  grid-area: atividades;
}

.atividade__publicacao {
  display: flex;
  align-items: center;
  gap: 8px;
}

.atividade__id {
  margin: 13px 0 8px;
  color: var(--color-texto-secundario);
  font-size: 14px;
}

.borda {
  border-bottom: 1px solid #ffffff99;
}

.atividades__arrow {
  display: block;
  margin: 8px 0;
  font-size: 14px;
  color: var(--color-texto-secundario);
  text-align: center;
  font-weight: 500;
}
.atividades__arrow::after {
  content: "\2192";
}

/* Dia 04 - Seção Sobre */

#sobre {
  grid-area: sobre;
}

/* Dia 05 - Seção Experiências */

#experiencias {
  height: 358px;
  grid-area: experiencias;
}

#experiencias span {
  display: block;
}

#experiencias span:hover,
#formacao span:hover {
  text-decoration: none;
  cursor: auto;
}

.container__infos {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.experiencia__cargo {
  color: var(--color-texto-primario);
  display: block;
}

.experiencia__lista li {
  display: flex;
  gap: 28px;
  margin-left: 20px;
  margin-top: 4px;
}

.experiencia__lista img {
  width: 9px;
  height: 71px;
}

/* Dia 06 -  Seções Formação acadêmica e Idiomas */

#formacao {
  grid-area: formacao;
}

#idiomas {
  grid-area: idiomas;
}

.container__infos img {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.idiomas__container {
  padding: 12px 0;
}

/*  Dia 07 - Sugestões de Conexões */

#sugestoes {
  grid-area: sugestoes;
  grid-column: 2;
  grid-row: 1;
}

#sugestoes span {
  font-size: 12px;
}

.sugestoes__container {
  padding: 16px;
  background-color: var(--card-background);
  border-radius: 16px;
  width: 320px;
}


.container__infos button {
  border-radius: 18px;
  padding: 7px 16px;
  border: 1px solid var(--color-texto-primario);
  background-color: transparent;
  color: var(--color-texto-primario);
  font-size: 14px;
  font-weight: bold;
  margin-top: 7px;
  cursor: pointer;
  display: block;
}

.margin__top {
  margin-top: 16px;
}

#sugestoes__conexoes {
  grid-area: sugestoes__conexoes;
  grid-column: 2;
  grid-row: auto;
}
/* Responsividade */

@media (max-width: 1023px) {
  .cabecalho__lista span {
    display: none;
  }
  .cabecalho__input {
    display: none;
  }
  #perfil,
  #destaques,
  #atividades,
  #sobre,
  #experiencias,
  #formacao,
  #idiomas {
    display: none;
  }
}